* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: radial-gradient(circle, #1a0033, #000);
  color: white;
  overflow-x: hidden;
}

.screen {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen.active {
  display: flex;
}

/* CELULAR */
.phone {
  width: 200px;
  height: 380px;
  border: 4px solid #bfaaff;
  border-radius: 25px;
  margin-bottom: 15px;
}

.phone-screen {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 20px;
}

/* TEXTO LOADING */
.loading-text {
  color: #bfaaff;
}

/* ELOGIOS FLUTUANTES */
.floating {
  position: absolute;
  opacity: 0.6;
  animation: float 10s infinite ease-in-out;
  pointer-events: none;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0); }
}

/* TELA 2 */
#bigHeart {
  font-size: 120px;
  cursor: pointer;
  margin: 20px;
}

#slider img {
  width: 80vw;
  max-width: 300px;
  border-radius: 15px;
  animation: zoom 6s infinite alternate;
}

@keyframes zoom {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

.hidden {
  display: none;
}

#playMusic {
  background: transparent;
  border: 1px solid #bfaaff;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 10px;
}

#letter {
  max-width: 90vw;
  text-align: center;
  margin-top: 30px;
}

#revealText {
  color: #bfaaff;
  cursor: pointer;
  }
