* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: radial-gradient(circle, #1b0026, #050008);
  color: white;
  overflow: hidden;
}

/* TELA INICIAL */
#loading {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#phone {
  width: 160px;
  height: 320px;
  border: 3px solid #9b5cff;
  border-radius: 25px;
  margin-bottom: 20px;
  position: relative;
  background: black;
}

.screen {
  position: absolute;
  inset: 0;
}

#mainHeart {
  font-size: 90px;
  animation: pulse 1.5s infinite;
  cursor: pointer;
}

.hint {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

/* APP */
.hidden {
  display: none;
}

#app {
  position: fixed;
  inset: 0;
}

#heartContainer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bigHeart {
  font-size: 160px;
  position: absolute;
  animation: pulse 2s infinite;
}

#photo {
  width: 220px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  z-index: 2;
  opacity: 0;
  transform: scale(0.7);
  transition: all 1s ease;
}

#photo.show {
  opacity: 1;
  transform: scale(1);
}

#textBox {
  position: absolute;
  bottom: 8%;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
  animation: fadeUp 1s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  }
