* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow: hidden;
  background: radial-gradient(circle at top, #2a003d, #08000f);
  color: #f8f9fa;
}

/* CANVAS */
#particles {
  position: fixed;
  inset: 0;
  z-index: 0;
}

/* TELAS */
.screen {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.screen.active {
  display: flex;
}

/* CORAÇÕES FLUTUANDO */
.hearts span {
  position: absolute;
  color: #7b2cbf;
  opacity: 0.7;
  animation: float 12s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(110vh) scale(0.5);
  }
  to {
    transform: translateY(-10vh) scale(1);
  }
}

/* TELA 1 */
.center {
  text-align: center;
}

.click-text {
  font-size: 22px;
  cursor: pointer;
}

.click-text span {
  color: #6aa8ff;
}

/* PALAVRAS FLUTUANTES */
.floating-words span {
  position: absolute;
  font-size: 14px;
  opacity: 0.4;
  animation: fadeMove 10s linear infinite;
}

@keyframes fadeMove {
  from { transform: translateY(0); opacity: 0; }
  to { transform: translateY(-80px); opacity: 0.4; }
}

/* TELA 2 */
#heart-container {
  position: relative;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#big-heart {
  font-size: 160px;
  animation: pulse 1.6s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

#photo {
  position: absolute;
  width: 180px;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0.7);
  transition: all 1s ease;
  z-index: 2;
}

#photo.show {
  opacity: 1;
  transform: scale(1);
}

#photo-text {
  margin-top: 20px;
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
}

#nextBtn {
  margin-top: 15px;
  padding: 10px 26px;
  background: #7b2cbf;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 14px;
}

/* TELA 3 */
#letter {
  padding: 30px;
  font-size: 18px;
  max-width: 520px;
  text-align: center;
  }
