* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow: hidden;
}

/* FUNDO */
#background {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at top, #2a003d, #08000f);
  z-index: -2;
}

/* START */
#startScreen {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#heartStart {
  font-size: 90px;
  animation: pulse 1.5s infinite;
  cursor: pointer;
}

#startText {
  margin-top: 15px;
  font-size: 16px;
}

/* APP */
.hidden {
  display: none;
}

#app {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#heart {
  font-size: 140px;
  animation: pulse 2s infinite;
  position: absolute;
}

#photo {
  width: 220px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0.7);
  transition: all 1s ease;
  z-index: 2;
}

#photo.show {
  opacity: 1;
  transform: scale(1);
}

#text {
  position: absolute;
  bottom: 8%;
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
}

/* ANIMAÇÃO */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}
