* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(circle, #3b1c5a, #0a0514);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
}

/* Botão música */
#playMusic {
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, purple, blue);
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Coração */
#heart {
  width: 150px;
  height: 150px;
  background: purple;
  transform: rotate(-45deg);
  position: relative;
  cursor: pointer;
}

#heart::before,
#heart::after {
  content: "";
  width: 150px;
  height: 150px;
  background: purple;
  border-radius: 50%;
  position: absolute;
}

#heart::before {
  top: -75px;
  left: 0;
}

#heart::after {
  left: 75px;
  top: 0;
}

/* Foto */
#photo {
  display: none;
  width: 80%;
  max-width: 300px;
  border-radius: 20px;
  margin-top: 20px;
}

/* Corações voando */
.hearts span {
  position: absolute;
  color: pink;
  font-size: 20px;
  animation: float 8s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-10vh);
    opacity: 0;
  }
  }
